@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NIXGONM-Vb', sans-serif;
    background-color: #EDEBDF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EDEBDF;
    color: #413E3E;
    padding: 50px;
    text-align: left;
    margin-bottom: 0px;
}

main {
    padding: 0 50px;
}

h1, h2 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
    color: #413E3E;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}